.movie-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;

  border: 1px solid #c7c7c7;
  border-radius: 4px;
  /* width: 25vw;
  height: 35vh; */
  width: 16rem;
  height: 24rem;
  margin: 20px;
  cursor: pointer;
  overflow: hidden;
  /* padding: 5px; */
}

.movie-card:hover {
  transform: scale(1.05);
  transition: 200ms;
}
.movie-card:not(:hover) {
  transition: 200ms;
}

.movie-card__img {
  width: 16rem;
  height: 20rem;
}

.movie-card__title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 5px;
  width: 90%;
  color: black;
  text-decoration: underline;
}

@media only screen and (max-width: 800px) {
  .movie-card {
    width: 30rem;
    height: 40rem;
  }

  .movie-card__img {
    width: 30rem;
    height: 35rem;
  }

  .movie-card__title {
    font-size: 1.5rem;
  }
}
